<h3>Home!</h3>

<hr/>
<tabset>
  <tab heading="Tab 1">
    Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea
    graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id,
    eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum
    nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr
    corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri,
    omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea
    noluisse deterruisset sea.
  </tab>
  <tab heading="Tab 2">
    Just another tab!
  </tab>
</tabset>
<hr/>
<a  ui-sref-active="active"  ui-sref="home.moen">Show Moen</a>
<a  ui-sref-active="active"  ui-sref="home.mansfield">Show Mansfield</a>
<ui-view></ui-view>